#mmbm-maintenance-mode {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#mmbm-maintenance-mode h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

#mmbm-maintenance-mode p {
    font-size: 16px;
    margin: 10px 0;
}